body{
	background-color: ivory;
	margin: 0;
	padding: 0;
}

.container{
         position: fixed;
         top: 20%;
         left: 30%;
         background-color: white;
         border-radius: 14px;
         box-shadow: 13px 15px 10px grey;
	     padding-bottom: 20px;
	     width: 320px;
	
}

.display {
	width: 100%;
	height: 60px;
	padding: 40px 0;
	background: pink;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.btn {
	padding: 25px 25px 0 25px;
}

.row {
	width: 280px;
	float: left;
	}

input[type=button] {
	width: 60px;
	height: 70px;
	padding: 0;
	float:left;
	margin: 5px;
	background: grey;
	border: none;
	font-size: 30px;
	border-radius: 50%;
	color: fuchsia;
	cursor: pointer;
}

input[type=text]{
	width: 270px;
	height: 60px;
	float: left;
	padding: 0;
	box-sizing: border-box;
	border: none;
	background: none;
	color: #ffffff;
	text-align: right;
	font-weight: 700;
	font-size: 60px;
	line-height: 60px;
	margin: 0 25px;
}

